<li {{#class}}class={{class}}{{/class}}>
  <p class="message-header">
    <span class="username">{{user_name}}</span>
    <span class="timestamp">{{datetime}}</span>
    <span class=""><a href="#" class="reply" data-thread-id="{{id}}">reply</a></span>
  </p>
  <p class="message">{{{message}}}</p>
</li>
